{% extends "base.html" %}
{% load crispy_forms_tags %}



{% block head_title %}Welcome | {{ block.super }}{% endblock %}

<style>

{% block style %}

{% endblock %}
</style>


{% block jumbotron %}

      <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="row">
            <div class="col-sm-6">
                <h1>SecureShare</h1>
                <p>**Change this text to talk about SecureShare**</p>
                <p>
                  <a class="btn btn-lg btn-primary" href="#" role="button">Join &raquo;</a>
                </p>
            </div>

            <div class="col-sm-6" style="background-color:black;min-height:300px">

            </div>
        </div>
  </div>

{% endblock %}



 


{% block content %}
<div class="row">

    <div class="col-xs-3 pull-right">
        <p class='lead text-align-center'>{{ title }}</p>

        <!-- The method is POST because we want to send data. The action is where the data will be sent -->
        <form method='POST' action=''>{% csrf_token %}
        {{ form|crispy }}

        <!-- When you click this button it adds a GET method. Same thing as going to a specific url -->
        <input class='btn btn-primary' type='submit' value='Sign Up'>

        </form>
    </div>

    <div class="col-xs-3">
        <p class='lead text-align-center'>Lorem Ipsum slipsum get some</p>
    </div>

    <div class="col-xs-3">
        <p class='lead text-align-center'>Lorem Ipsum slipsum get some</p>
    </div>

    <div class="col-xs-3">
        <p class='lead text-align-center'>Lorem Ipsum slipsum get some</p>
    </div>
</div>

{% endblock %}