{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}
{% if log %}
<a class="btn btn-lg btn-primary" href="/sendmessage/" align ="center" role="button">Send New Message&raquo;</a>
{% if latest_message_list %}
    <ul>
    {% for r in latest_message_list %}
        <li><a href="/message/{{ r.id }}/">{{ r.content }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No Messages yet.</p>
{% endif %}
{% else %}
<p>Please log in to see your messages</p>
{% endif %}


{% endblock %}