{% extends "base.html" %}
{% load crispy_forms_tags %}



{% block title %}Welcome | {{ block.super }}{% endblock %}

<style>

{% block style %}

{% endblock %}
</style>


{% block jumbotron %}

      <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="row">
            <div class="col-sm-6">
                <h1>SecureShare</h1>
                
                {% if flag %}
                {{title}}
                <p></p>
                <a class="btn btn-lg btn-primary" href="/reports/" align ="center" role="button">Go to Reports&raquo;</a>
                <a class="btn btn-lg btn-primary" href="/message/" align ="center" role="button">Go to Messages&raquo;</a>
                {% else %}
                <p>
                  <a class="btn btn-lg btn-primary" href="/signup/" align ="center" role="button">Join Now&raquo;</a>
                </p>
                {% endif %} 
            </div>

            <div class="col-sm-6" style="background-color:black;min-height:300px">

            </div>
        </div>
  </div>

{% endblock %}



 


