{% extends "base.html" %}


{% block content %}

{% if Message.is_private == True %}
<p>Message contents are currently encrypted!!!</p>
<a class="btn btn-lg btn-primary" href="/decryptmessage/{{ Message.id }}/" align ="center" role="button">Decrypt Message&raquo;</a>
{% else %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Message from:</h3>
  </div>
  <div class="panel-body">
    {{Message.sender}}
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Time Sent:</h3>
  </div>
  <div class="panel-body">
    {{Message.created_at}}
  </div>
 </div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Description:</h3>
  </div>
  <div class="panel-body">
    {{Message.content}}
  </div>
</div>
{% endif %}
<a class="btn btn-lg btn-primary" href="/deletemessage/{{ Message.id }}/" align ="center" role="button">Delete Message&raquo;</a>

{% endblock %}