{% extends "base.html" %}

{% block content %}

<h3>Search Reports</h3>
<form>
     <input type="text" name='q' placeholder="Search" required>
     <input type="submit" value="Search">
</form>
<br>
<h6 class='lead'>Query: "{{query}}"</h6>
{% if results %}

{% for r, score in results %}

<a href="/reports/{{ r.id }}" style="text-decoration:none;color:black;">
<div class="panel panel-default">
  <div class="panel-body">
    Description: {{ r.description }}<br>
    Full Description: {{ r.full_description }}<br>
    File Text:<br>
    Date:<br>
    Reporter: {{ r.reporter_it_belongs_to.user_name }}
  </div>
</div>
</a>

{% endfor %}

{% else %}
<h6 class='lead'>No Results</h6>
{% endif %}


{% endblock %}