{% extends "base.html" %}

{% block content %}

<h3>Search Reports</h3>
<form>
     <input type="text" name='q' placeholder="Search" required>
     <input type="submit" value="Search">
</form>
<br>
<h6 class='lead'>Query: "{{query}}"</h6>


{% if results %}


{% for r, s in results %}

  {% for numid, fields in hits.items %}
        {% if r.id == numid %}
            <a href="/reports/{{ r.id }}" style="text-decoration:none;color:black;">
            <div class="panel panel-default">
            {% for field, field_value in fields.items %}
            <div class="panel-body">
                {% if field == 'description' %}
                    <b id='field'>Description:</b>
                    {% for word in r.split_description %}
                        {% if word in field_value %}
                            <b>{{word.capitalize}}</b>
                        {% else %}
                            {{word.capitalize}}
                        {% endif %}
                    {% endfor %}
                {% endif %}


              {% if field == 'full_description' %}
                <b id='field'>Full Description:</b>
                {% for word in r.split_full_description %}
                    {% if word in field_value %}
                        <b>{{word.capitalize}}</b>
                    {% else %}
                        {{word.capitalize}}
                    {% endif %}
                {% endfor %}
              {% endif %}


              {% if field == 'file_text' %}
                <b id='field'>File Text: </b>
                {% if field_value %}
                    {% autoescape off %}{{ field_value }}{% endautoescape %}
                {% endif%}
              {% endif %}


              {% if field == 'date' %}
                <b id='field'>Date: </b>
                {% for word in r.formatted_date %}
                    {% if word in field_value %}
                        <b>{{word}}</b>
                    {% else %}
                        {{word}}
                    {% endif %}
                {% endfor %}
              {% endif %}

              {% if field == 'reporter' %}
                <b id='field'>Reporter: </b>
                {% for word in r.split_username %}
                    {% if word in field_value %}
                        <b>{{word.capitalize}}</b>
                    {% else %}
                        {{word.capitalize}}
                    {% endif %}
                {% endfor %}
              {% endif %}



            </div>
            {% endfor %}
            </div>
            </a>
        {% endif %}
  {% endfor %}

{% endfor %}

{% else %}
<h6 class='lead'>No Results</h6>
{% endif %}


{% endblock %}